<style>
    .page-home {
        color: #1a56db ;
    }
</style>
<div class="py-4">
    <div class="container mx-auto text-center">
        <h1 class="text-4xl font-bold">Nguyễn Văn Minh</h1>
        <p class="mt-2 text-lg"><strong>Backend Developer</strong></p>
    </div>
</div>

<section id="about" class="py-8">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-semibold mb-4">Giới thiệu</h2>
        <p class="text-lg">Chào mọi người! Mình là Nguyễn Văn Minh, hiện tại mình đang là một sinh viên IT và đồng thời là một backend developer. Mình có niềm đam mê với công nghệ và đang làm việc để cải thiện kỹ năng của mình trong lĩnh vực lập trình.</p>
    </div>
</section>

<!-- <section id="contact" class="bg-white py-8">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-semibold mb-4">Liên hệ</h2>
        <p class="text-lg">Nếu bạn muốn liên hệ với tôi, hãy gửi email đến <a href="mailto:minhcuder@gmail.com" class="text-blue-500 hover:underline">minhcuder@gmail.com</a>.</p>
    </div>
</section> -->

