<style>
    iframe {
        width: 100%;
        height: 120vh;
        border: none;
    }
    .page-cv {
        color: #1a56db ;
    }
</style>
<div class="p-4 mb-2 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
    <span class="me-2">Vui lòng xem cv qua máy tính. Nếu bạn xem cv qua các thiết bị tablet/điện thoại sẽ có thể lỗi không xem được. Hoặc bạn có thể tải xuống CV để xem.
        <a href="assets/cv/Nguyễn Văn Minh - NodeJs Developer.pdf" download="Nguyễn Văn Minh - NodeJs Developer.pdf" type="button" class="text-blue-800 flex-nowrap justify-center text-sm font-medium inline-flex items-center">
            Tải CV tại đây
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
            </svg>    
        </a>
    </span>
</div>


<iframe src="assets/cv/Nguyễn Văn Minh - NodeJs Developer.pdf" type="application/pdf"></iframe>
